<ul class="tabs clearfix">
	<li <% if @active == "petunias" %>class="active"<%end%>><%= link_to "Petunias", "/flowers/petunias" %></li>
	<li <% if @active == "marigolds" %>class="active"<%end%>><%= link_to "Marigolds", "/flowers/marigolds" %></li>
	<li <% if @active == "perennials" %>class="active"<%end%>><%= link_to "Perennials", "/flowers/perennials" %></li>
	<li <% if @active == "premium" %>class="active"<%end%>><%= link_to "Premium", "/flowers/premium" %></li>
	<li <% if @active == "miscellaneous" %>class="active"<%end%>><%= link_to "Miscellaneous", "/flowers/miscellaneous" %></li>
	<li <% if @active == "new" %>class="active"<%end%>><%= link_to "New for 2011", "/flowers/new" %></li>
</ul>
