<ul class="tabs clearfix">
	<li <% if @active == "tomatoes" %>class="active"<%end%>><%= link_to "Tomatoes", "/vegetables/tomatoes" %></li>
	<li <% if @active == "peppers" %>class="active"<%end%>><%= link_to "Peppers", "/vegetables/peppers" %></li>
	<li <% if @active == "herbs" %>class="active"<%end%>><%= link_to "Herbs", "/vegetables/herbs" %></li>
	<li <% if @active == "melons" %>class="active"<%end%>><%= link_to "Melons", "/vegetables/melons" %></li>
	<li <% if @active == "cucumbers" %>class="active"<%end%>><%= link_to "Cucumbers", "/vegetables/cucumbers" %></li>
	<li <% if @active == "gourds" %>class="active"<%end%>><%= link_to "Gourds", "/vegetables/gourds" %></li>
	<li <% if @active == "pumpkins" %>class="active"<%end%>><%= link_to "Pumpkins", "/vegetables/pumpkins" %></li>
	<li <% if @active == "squash" %>class="active"<%end%>><%= link_to "Squash", "/vegetables/squash" %></li>
	<li <% if @active == "space savers" %>class="active"<%end%>><%= link_to "Space Savers", "/vegetables/space_savers" %></li>
	<li <% if @active == "miscellaneous" %>class="active"<%end%>><%= link_to "Miscellaneous", "/vegetables/miscellaneous" %></li>
</ul>
